# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [5]:
# Create our features
X = df.drop(columns=["loan_status"], axis=1)

# Create our target
y = df['loan_status']

In [6]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [7]:
X.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,n,27.24,0.0,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,n,20.23,0.0,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,n,24.26,0.0,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,n,31.44,0.0,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,n,18.76,0.0,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [10]:
X.columns

Index(['loan_amnt', 'int_rate', 'installment', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'pymnt_plan', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'next_pymnt_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'hardship_flag', 'debt_settlement_flag'],
      dtype='object')

In [8]:
# Check the balance of our target values
df[["loan_status"]].value_counts()

loan_status
low_risk       68470
high_risk        347
dtype: int64

In [11]:
X_bi = pd.get_dummies(X, columns=["home_ownership", "verification_status", "issue_d", "pymnt_plan", "initial_list_status", "next_pymnt_d", "application_type", "hardship_flag", "debt_settlement_flag"])

X_bi.to_csv("X_binary.csv")

X_bi.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [12]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_bi,y,random_state=1)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [13]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [14]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [15]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [16]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

randomforest_model = RandomForestClassifier(n_estimators=500,random_state=1)


randomforest_model.fit(X_train_scaled, y_train)

RandomForestClassifier(n_estimators=500, random_state=1)

In [17]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

randomforest_pred = randomforest_model.predict(X_test_scaled)

randomforest_accuracy_score = accuracy_score(y_test, randomforest_pred)

print(f"Balanced Random Forest Classifier accuracy score: {randomforest_accuracy_score}.")

Balanced Random Forest Classifier accuracy score: 0.9959895379250218.

In [18]:
# Display the confusion matrix
randomforest_cm = confusion_matrix(y_test, randomforest_pred)

randomforest_df = pd.DataFrame(randomforest_cm, index=['Predicted Negative', 'Predicted Positive'], columns=['Predicted Negative', 'Predicted Positive'])

randomforest_df

                    Predicted Negative  Predicted Positive
Predicted Negative                  37                  64
Predicted Positive                   5               17099

In [19]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, randomforest_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.88      0.37      1.00      0.52      0.61      0.34       101
   low_risk       1.00      1.00      0.37      1.00      0.61      0.39     17104

avg / total       1.00      1.00      0.37      1.00      0.61      0.39     17205

In [21]:
# List the features sorted in descending order by feature importance
randomforest_importances = randomforest_model.feature_importances_

sorted(zip(randomforest_model.feature_importances_, X.columns), reverse=True)

[(0.07486922500536883, 'out_prncp'),
 (0.06686220515014932, 'total_acc'),
 (0.06573260493444634, 'initial_list_status'),
 (0.06380464409414062, 'total_rec_prncp'),
 (0.05475103896804395, 'revol_bal'),
 (0.021471589076600003, 'installment'),
 (0.02111947211128395, 'pub_rec'),
 (0.01926514456622541, 'open_acc'),
 (0.01745217216062875, 'annual_inc'),
 (0.01581677533386419, 'inq_last_12m'),
 (0.015752096584564737, 'open_il_12m'),
 (0.015735851725680147, 'acc_open_past_24mths'),
 (0.015187632528247232, 'loan_amnt'),
 (0.014661307873711133, 'max_bal_bc'),
 (0.014641247194838647, 'delinq_2yrs'),
 (0.014412756323631721, 'all_util'),
 (0.014039446716687847, 'num_tl_30dpd'),
 (0.013856271832755807, 'num_tl_90g_dpd_24m'),
 (0.013846583703264598, 'tot_coll_amt'),
 (0.013719796384386343, 'total_rev_hi_lim'),
 (0.013499050487397083, 'last_pymnt_amnt'),
 (0.012511182679122197, 'int_rate'),
 (0.012490123493585824, 'num_tl_op_past_12m'),
 (0.012409321198802253, 'pct_tl_nvr_dlq'),
 (0.012336845696676767, 'mths_since_rcnt_il'),
 (0.012319950198481611, 'home_ownership'),
 (0.012284595029129925, 'acc_now_delinq'),
 (0.01211518987250945, 'out_prncp_inv'),
 (0.01164238184510929, 'open_il_24m'),
 (0.01160755237556143, 'inq_last_6mths'),
 (0.011170642950673803, 'tot_cur_bal'),
 (0.011065665709193664, 'chargeoff_within_12_mths'),
 (0.010520112056421152, 'mths_since_recent_bc'),
 (0.010378274511558924, 'delinq_amnt'),
 (0.010239087446039637, 'num_accts_ever_120_pd'),
 (0.009797123499920048, 'open_rv_24m'),
 (0.009412754824617555, 'avg_cur_bal'),
 (0.008634884589019903, 'bc_open_to_buy'),
 (0.00859777972258021, 'num_rev_accts'),
 (0.008532043707315275, 'mort_acc'),
 (0.008512701527153, 'il_util'),
 (0.00845783526380756, 'open_rv_12m'),
 (0.008362431491176013, 'num_actv_rev_tl'),
 (0.008352284357764733, 'pymnt_plan'),
 (0.008076364587270781, 'mths_since_recent_inq'),
 (0.00770070884546264, 'mo_sin_rcnt_rev_tl_op'),
 (0.0075975969664543695, 'open_act_il'),
 (0.0074496959704872905, 'application_type'),
 (0.007441913858165287, 'num_actv_bc_tl'),
 (0.007128445000051126, 'mo_sin_rcnt_tl'),
 (0.00695828723798847, 'mo_sin_old_rev_tl_op'),
 (0.0069533971458181605, 'total_bal_il'),
 (0.006932552693242485, 'num_op_rev_tl'),
 (0.006550640022117912, 'bc_util'),
 (0.006507756952000215, 'num_rev_tl_bal_gt_0'),
 (0.006373612861460907, 'collections_12_mths_ex_med'),
 (0.006257966191026999, 'next_pymnt_d'),
 (0.005627299477383, 'open_acc_6m'),
 (0.005216941510319079, 'issue_d'),
 (0.00518970677697614, 'collection_recovery_fee'),
 (0.004986375663092396, 'hardship_flag'),
 (0.004655388716554957, 'debt_settlement_flag'),
 (0.004194823636505581, 'policy_code'),
 (0.004004457692670987, 'verification_status'),
 (0.003537005320399146, 'mo_sin_old_il_acct'),
 (0.002784026437710506, 'dti'),
 (0.0025974172728833473, 'num_sats'),
 (0.002139901951259344, 'total_il_high_credit_limit'),
 (0.0020225259078372267, 'total_bc_limit'),
 (0.0018828963911996322, 'tax_liens'),
 (0.0018460511075793047, 'total_bal_ex_mort'),
 (0.001727966676900778, 'tot_hi_cred_lim'),
 (0.0017138462853079006, 'total_rec_int'),
 (0.0016446168290784192, 'num_il_tl'),
 (0.0016021004453811334, 'pub_rec_bankruptcies'),
 (0.0005756685930455276, 'percent_bc_gt_75'),
 (0.00034778075781281636, 'inq_fi'),
 (0.0, 'total_rec_late_fee'),
 (0.0, 'total_pymnt_inv'),
 (0.0, 'total_pymnt'),
 (0.0, 'total_cu_tl'),
 (0.0, 'recoveries'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'num_bc_tl'),
 (0.0, 'num_bc_sats')]

### Easy Ensemble Classifier

In [22]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier

easy_ensemble = EasyEnsembleClassifier(n_estimators=10,random_state=1)

easy_ensemble.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(random_state=1)

In [24]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
easy_ensemble_pred = easy_ensemble.predict(X_test_scaled)

easy_ensemble_score = balanced_accuracy_score(y_test, easy_ensemble_pred)

print(f"Easy Ensemble Classifier accuracy score: {easy_ensemble_score}.")

Easy Ensemble Classifier accuracy score: 0.9154459266085636.

In [25]:
# Display the confusion matrix
easyensemble_cm = confusion_matrix(y_test, easy_ensemble_pred)

easyensemble_df = pd.DataFrame(easyensemble_cm, index=['Predicted Negative', 'Predicted Positive'], columns=['Predicted Negative', 'Predicted Positive'])

easyensemble_df

                    Predicted Negative  Predicted Positive
Predicted Negative                  94                   7
Predicted Positive                1707               15397

In [26]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, easy_ensemble_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.05      0.93      0.90      0.10      0.92      0.84       101
   low_risk       1.00      0.90      0.93      0.95      0.92      0.84     17104

avg / total       0.99      0.90      0.93      0.94      0.92      0.84     17205

### Final Questions

1. Which model had the best balanced accuracy score?

   Balanced Random Forest Classifier has the best accuracy score.

2. Which model had the best recall score?

    Easy Ensemble Classifier has the best recall scrore for high_risk and low_risk

3. Which model had the best geometric mean score?

    Easy Ensemble model has a better geametric mean.

4. What are the top three features?

    Top three features for Random Forest Classifier are out_prncp, total_acc and initial_list_status